include block_html/_style.pug
include block_html/_include.pug

.page
	.toolbar
		.logo
			img(src="img/logo-svg.svg", alt="")
		.toolbar__list
			.toolbar__list-el.toolbar__list-el--active Главная страница
			.toolbar__list-el Каталог сервисов
			.toolbar__list-el Обращения портала
			.toolbar__list-el Услуга из списка

	.content
		.content__wrap
			.bread
				.bread__el Главная
				.bread__el Услуги
				.bread__el Подготовка документов
			.item__title
				.item-title-icon
					.item-title-icon-coner
						+icon("coner","icon")
					+icon("suitcase","icon")
				span Электронная библиотека издательства «МИФ»
				.get-btn получить
			.item-param
				.item-param__el
					.item-param__el-title Сроки оказания услуги:
					.item-param__el-text 10 календарных дней.
				.item-param__el
					.item-param__el-title Уровень доступа сотрудников:
					.item-param__el-text Обычный
				.item-param__el
					.item-param__el-title Степень важности:
					.item-param__el-text Высокая
			.item-important__title Документы для скачивания
			.item-load
				.item-load__el
					.item-load__el-icon
						+icon("doc-file-format-symbol","icon")
					.item-load__el-text Форма для заполнения
				.item-load__el
					.item-load__el-icon
						+icon("doc-file-format-symbol","icon")
					.item-load__el-text Инструкция
				.item-load__el
					.item-load__el-icon
						+icon("doc-file-format-symbol","icon")
					.item-load__el-text Список документов
				.item-load__el
					.item-load__el-icon
						+icon("doc-file-format-symbol","icon")
					.item-load__el-text Реестр сервисов
			.item-important
				.item-important__text Электронная библиотека издательства «Манн, Иванов и Фербер» - это самый широкий и постоянно пополняющийся ассортимент интереснейшей литературы о бизнесе и саморазвитии.

			.item-important__title Кто может подключиться к библиотеке?
			.item-text
				p Любой сотрудник банка «Возрождение» вне зависимости от места и стажа его работы.
			.item-important__title Как работает библиотека?
			.item-text
				p Библиотека работает через Интернет: Вы сможете скачивать книги с помощью вашего <strong> домашнего компьютера, смартфона или планшета </strong>. У издательства нет специального приложения, поэтому Вы можете, загрузив файл в нужном формате, использовать любую привычную для Вас «читалку» на мобильных устройствах. Помимо этого, вам будет доступна большая коллекция аудиокниг, которую можно прослушивать в режиме онлайн (с личного компьютера, смартфона или планшета).
			.item-important__title Как подключиться к библиотеке?
			.item-text
				p Для подключения к библиотеке вам нужно перейти в систему <strong>BPM’online</strong>.
			.item-step
				.item-step__el
					.item-step__val 1
					.item-step__el-title Запускаем процесс «Получение доступа в электронную библиотеку»
					.item-step__el-text
						p (обратите внимание, что на каждого сотрудника запускается отдельный процесс).
						p Все данные заполнятся автоматически. Если Вы хотите оставить дополнительную информацию, это можно сделать в поле «Комментарий». Далее сохраняете запрос и направляете на согласование.
						p Если вы находитесь на испытательном сроке, то запрос сначала будет направлен на согласование вашему непосредственному руководителю.

				.item-step__el
					.item-step__val 2
					.item-step__el-title Получаем приглашение в библиотеку и логин/пароль.
					.item-step__el-text После обработки запроса Вы получите письмо с Вашими регистрационными данными (ссылку на страницу библиотеки, Ваши логин и пароль).
				.item-step__el.item-step__el--last
					.item-step__val.item-step__val--check
						+icon("checked","icon")
					.item-step__el-title Наслаждаемся чтением лучших бизнес-книг.


			.item-important__title Что важно знать перед началом использования библиотеки?
			.item-text
				p 1) Не пересылайте, пожалуйста, скачанные книги на рабочую почту с личных устройств, чтобы не перегружать нашу сеть и серверы.
				p 2) Желание скачивать книги на рабочий компьютер не является обоснованием для получения доступа в Интернет: просим с пониманием отнестись к требованиям политики информационной безопасности Банка.
				p 3) Все доступные Вам книги защищены авторским правом, охраняются международными конвенциями и законодательством РФ. Это значит, что мы получаем право использовать, копировать, цитировать электронные книги исключительно в некоммерческих целях: для личного пользования, собственного образования и развития.
				p 4) Мы понимаем, что многие привыкли читать книги в бумажном формате, однако просим Вас не печатать издания на рабочих принтерах. Расход ресурсов будет отслеживаться в режиме онлайн, так как он может серьезно повлиять на административно-хозяйственные расходы Банка.


			.item-important__title Смотрите также
			.more
				.more__el Надбавка
				.more__el Доплата
				.more__el Работа в выходной день
				.more__el Подбор персонала
				.more__el Проверка СБ
				.more__el Оформление кандидата на работу
				.more__el Увольнение сотрудника
				.more__el Доплата
				.more__el Работа в выходной день
				.more__el Подбор персонала
include ./block_html/_script.pug
