include block_html/_style.pug
include block_html/_include.pug

.page
	.toolbar
		.logo
			img(src="img/logo-svg.svg", alt="")
		.toolbar__list
			.toolbar__list-el.toolbar__list-el--active Главная страница
			.toolbar__list-el Каталог сервисов
			.toolbar__list-el Обращения портала
			.toolbar__list-el Услуга из списка

	.content
		.content__wrap
			.bread
				.bread__el Главная
				.bread__el Услуги
				.bread__el Подготовка документов
			.item__title
				.item-title-icon
					.item-title-icon-coner
						+icon("coner","icon")
					+icon("suitcase","icon")
				span Перечень документов для отпуска
				.get-btn получить
			.item-param
				.item-param__el
					.item-param__el-title Сроки оказания услуги:
					.item-param__el-text 10 календарных дней.
				.item-param__el
					.item-param__el-title Уровень доступа сотрудников:
					.item-param__el-text Обычный
				.item-param__el
					.item-param__el-title Степень важности:
					.item-param__el-text Высокая
			.item-important__title Документы для скачивания
			.item-load
				.item-load__el
					.item-load__el-icon
						+icon("doc-file-format-symbol","icon")
					.item-load__el-text Форма для заполнения
				.item-load__el
					.item-load__el-icon
						+icon("doc-file-format-symbol","icon")
					.item-load__el-text Инструкция
				.item-load__el
					.item-load__el-icon
						+icon("doc-file-format-symbol","icon")
					.item-load__el-text Список документов
				.item-load__el
					.item-load__el-icon
						+icon("doc-file-format-symbol","icon")
					.item-load__el-text Реестр сервисов
			.item-important
				.item-important__title Подготавливайте документы заранее
				.item-important__text С другой стороны постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Равным образом начало повседневной работы по формированию позиции позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.
			.item-text
				p С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения новых предложений. Повседневная практика показывает, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Товарищи! новая модель организационной деятельности требуют определения и уточнения систем массового участия. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.

			.item-step
				.item-step__el
					.item-step__val 1
					.item-step__el-title Как получить услугу?
					.item-step__el-text Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
				.item-step__el
					.item-step__val 2
					.item-step__el-title Выберите тип получения услуги
					.item-step__el-text С другой стороны укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Задача организации, в особенности же реализация намеченных плановых заданий влечет
				.item-step__el
					.item-step__val 3
					.item-step__el-title Укажите нужные документы
					.item-step__el-text Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения новых предложений.
				.item-step__el
					.item-step__val 4
					.item-step__el-title Авторизуйтесь на портале
					.item-step__el-text Равным образом начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации модели развития. Повседневная практика показывает
				.item-step__el.item-step__el--last
					.item-step__val 5
					.item-step__el-title Заполните заявление в электронном виде, внеся в него данные
					.item-step__el-text Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития
					.item-step__val.item-step__val--check
						+icon("checked","icon")

			.faq-title
				+icon("help","icon") 
				span Часто задаваемые вопросы
			.item-faq
				.item-faq__el
					.item-faq__el-title В течение какого срока необходимо оформить документы?
					.item-faq__el-text а также новая модель организационной деятельности способствует подготовки и реализации существенных финансовых и административных условий. Товарищи! постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов)
				.item-faq__el
					.item-faq__el-title Как определить готовоность запрошенной услуги?
					.item-faq__el-text Новая модель организационной деятельности способствует подготовки и реализации существенных финансовых и административных условий. Товарищи! постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. С другой стороны консультация с широким активом влечет за

				.item-faq__el
					.item-faq__el-title Кто отвечает за выполнеение поставленной задачи?
					.item-faq__el-text Новая модель организационной деятельности способствует подготовки и реализации существенных финансовых и административных условий. Товарищи! постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. С другой стороны консультация с широким активом влечет за
				.item-faq__el
					.item-faq__el-title Как определить готовоность запрошенной услуги?
					.item-faq__el-text Новая модель организационной деятельности способствует подготовки и реализации существенных финансовых и административных условий. Товарищи! постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. С другой стороны консультация с широким активом влечет за

			.item-important__title Смотрите также
			.more
				.more__el Надбавка
				.more__el Доплата
				.more__el Работа в выходной день
				.more__el Подбор персонала
				.more__el Проверка СБ
				.more__el Оформление кандидата на работу
				.more__el Увольнение сотрудника
				.more__el Доплата
				.more__el Работа в выходной день
				.more__el Подбор персонала
include ./block_html/_script.pug
