include block_html/_style.pug
include block_html/_include.pug

.page
	.toolbar
		.logo
			img(src="img/logo-svg.svg", alt="")
		.toolbar__list
			.toolbar__list-el.toolbar__list-el--active Главная страница
			.toolbar__list-el Каталог сервисов
			.toolbar__list-el Обращения портала
			.toolbar__list-el Услуга из списка

	.content
		.content__wrap
			.bread
				.bread__el Главная
				.bread__el Услуги
				.bread__el Подготовка документов
			.item__title
				.item-title-icon
					.item-title-icon-coner
						+icon("coner","icon")
					+icon("suitcase","icon")
				span Информация о порядке оформления выхода сотрудников на работу в выходные/нерабочие праздничные дни.
				.get-btn получить
			.item-param
				.item-param__el
					.item-param__el-title Сроки оказания услуги:
					.item-param__el-text 10 календарных дней.
				.item-param__el
					.item-param__el-title Уровень доступа сотрудников:
					.item-param__el-text Обычный
				.item-param__el
					.item-param__el-title Степень важности:
					.item-param__el-text Высокая
			.item-important__title Документы для скачивания
			.item-load
				.item-load__el
					.item-load__el-icon
						+icon("doc-file-format-symbol","icon")
					.item-load__el-text Форма для заполнения
				.item-load__el
					.item-load__el-icon
						+icon("doc-file-format-symbol","icon")
					.item-load__el-text Инструкция
				.item-load__el
					.item-load__el-icon
						+icon("doc-file-format-symbol","icon")
					.item-load__el-text Список документов
				.item-load__el
					.item-load__el-icon
						+icon("doc-file-format-symbol","icon")
					.item-load__el-text Реестр сервисов


			.item-text
				p Оформление выхода сотрудников на работу в выходные/нерабочие праздничные дни производится в соответствии со ст. 113, 153 Трудового кодекса Российской Федерации.
			.item-step
				.item-step__el
					.item-step__val 1

					.item-step__el-text
						p Запустить в ВРМ запрос «Работа в выходные и праздничные дни» За 5 рабочих дней до запланированного выхода сотрудников. В запросе указывается обоснование выхода, количество выходящих сотрудников, данные по сотрудникам, вариант оплаты по каждому сотруднику (отгул или двойная оплата)
						p К запросу необходимо приложить скан-копии письменных согласий сотрудников с привлечением их к работе в выходные/нерабочие праздничные дни. Бланк согласия можно взять на внутреннем сайте или здесь: <a href="#" class="link--mark">ссылка 1</a> и <a href="#" class="link--mark">ссылка 2</a>
						.item-important
							.item-important__text <b>Обратите внимание! </b>
							ul
								li Привлечение сотрудников к работе в выходные и нерабочие праздничные дни производится только в случае необходимости выполнения заранее непредвиденных работ, от срочного выполнения которых зависит в дальнейшем нормальная работа Банка в целом или его отдельных структурных подразделений.
								li Выход на работу сотрудников, работающих по графику со скользящими выходными (графику сменности), не является привлечением к работе в выходные / нерабочие праздничные дни.
				.item-step__el
					.item-step__val 2
					.item-step__el-text Направить запрос на согласование. Запрос уйдет на согласование сначала руководителю ССП, далее куратору бизнес-линии, далее в отдел кадровой поддержки ЦА.
				.item-step__el
					.item-step__val 3
					.item-step__el-text
						p После всех согласований запрос вернется Вам для проведения работы по организации выхода работников.
						.item-important
							.item-important__text <b>Обратите внимание! </b>
							p Сотрудникам, которые привлекаются к работе в выходные/нерабочие праздничные дни, при входе и выходе из здания Банка необходимо вписать свои данные в список, находящийся у работника охраны
				.item-step__el
					.item-step__val 4
					.item-step__el-text По завершении работ необходимо приложить к запросу:			Скан-копию Служебной записки на оплату или предоставление отгула сотрудникам, которые фактически проводили работы в выходные/нерабочие праздничные дни. Бланк СЗ можно взять на внутреннем сайте или <a href="#" class="link--mark">здесь</a>
				.item-step__el
					.item-step__val 5
					.item-step__el-text
						p Направить запрос на исполнение в течение 2-х рабочих дней после фактического выхода сотрудника на работу в выходной / нерабочий праздничный день.
						p Запрос автоматически уйдет на исполнение кадровику.
						.item-important
							.item-important__text <b>Обратите внимание! </b>
							p По сотрудникам ЦА и ДО МиМО необходимо дополнительно предоставить оригиналы Согласий работников и Служебной записки на оплату/предоставление отгула в Отдел кадровой поддержки ЦА. По сотрудникам Филиалов оригиналы документов предоставляются кадровику Филиала.
				.item-step__el
					.item-step__val 6
					.item-step__el-text После исполнения запроса кадровик проставляет статус «Исполнено» и Вы получите сообщение о завершении работы над запросом.
				.item-step__el.item-step__el--last
					.item-step__val.item-step__val--check
						+icon("checked","icon")
			.item-important__title Смотрите также
			.more
				.more__el Надбавка
				.more__el Доплата
				.more__el Работа в выходной день
				.more__el Подбор персонала
				.more__el Проверка СБ
				.more__el Оформление кандидата на работу
				.more__el Увольнение сотрудника
				.more__el Доплата
				.more__el Работа в выходной день
				.more__el Подбор персонала
include ./block_html/_script.pug
