@font-face
	font-family: 'vbank'
	src: url('../fonts/vbank.woff') format('woff')
	font-weight: 400
	font-style: normal

@font-face
	font-family: 'vbank'
	src: url('../fonts/vbank-semibold.woff') format('woff')
	font-weight: 500
	font-style: normal

@font-face
	font-family: 'vbank'
	src: url('../fonts/vbank-bold.woff') format('woff')
	font-weight: 700
	font-style: bold
