-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
		'name':'Подробрная',
		'href':'item'
		},
		{
		'name':'Контент',
		'href':'content'
		}
	]

